-i https://pypi.org/simple
certifi==2018.8.24
chardet==3.0.4
dateparser==0.7.0
humanize==0.5.1
idna==2.7
maya==0.5.0
pendulum==1.5.1
python-dateutil==2.7.3
pytz==2018.5
pytzdata==2018.5; python_version != '3.3.*'
regex==2018.8.29
requests==2.19.1
six==1.11.0
snaptime==0.2.4
tzlocal==1.5.1
urllib3==1.23
